.admin-product{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color:grey;
    margin-top: 10px;
    
}
.admin-product-list{
  margin-top: 20px;
  background-color: white;
  border-radius: 10px;
  color: rgb(97, 96, 96);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
.admin-product-list img{
    width: 300px;
    height: 300px;
    border-radius: 10px;
  
}
.description-product{
    width: 200px;
    text-align: center;
    margin-left: 40px;
    height: 140px;
  
}
.price-product{
    margin-bottom: 10px;
    margin-right: 20px;
    font-size: 20px;
    color: black;
}
.delete{
    margin-top: 10px;
    text-align: center;
    margin-right: 20px;
    height: 50px;
    background-color: red;
    color: white;
    border: none;
    width: 100px;
    font-size: 20px;
    border-radius: 10px;
}
.update{
    margin-top: 10px;
    text-align: center;
    margin-right: 20px;
    margin-bottom: 10px;
    height: 50px;
    background-color: red;
    color: white;
    border: none;
    width: 100px;
    font-size: 20px;
    border-radius: 10px;
}
.link{
    text-decoration: none;
}
.under{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.pagination{
    width: 50%;
    display: flex;
    justify-content: center;  
    border-radius: 10px;
    border: 1px solid blue; 
    margin-top: 30px;
}
.pagination li{
    width: 100px;
    color: blue;
    border: 1px solid blue;
    padding: 10px;
}
