.brand{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    flex-wrap: wrap;
}
.brand-product{
    background-color: rgb(212, 212, 212);
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px;
    border-radius: 10px;
}
.brand-product img{
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}
.brand-product p{
    text-align: center;
    font-size: 10px;
}
.brand-product p:nth-child(2){
    font-size: 20px;
    width: 70%;
}
.more{
    width: 300px;
    height: 70px;
    color: white;
    background-color: red;
    font-size: 30px;
    border: none;
    border-radius: 10px;
}
.class-link{
     text-decoration: none;
}
.class-link p{
    color: black;
}