.register {
  width: 100%;
  height: 100%;
  margin-bottom: -30px;
}
img {
  width: 100%;
  height: 800px;
  object-fit: cover;
  position: relative;
}
.logo {
  position: absolute;
  top: 10%;
  left: 10%;
  font-size: 20px;
  color: white;
}
.register-form {
  position: absolute;
  top: 10%;
  right: 20%;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  
}
.register-form input{
    width: 200px;
    height: 30px;
    margin: 20px;
    border: none;
    border-radius: 10px;
}
#register-btn{
    position: absolute;
    bottom:0%;
    right: 24%;
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    color: white;
    background-color: red;
}
#alert{
  position: absolute;
  top: 3%;
  left: 2%;
  background-color: red;
  color: white;
  width: 200px;
  height: 50px;
  border-radius: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

}
#alert.active{
  visibility: hidden;
}