.text{
    position: absolute;
    bottom: 50%;
    left: 10%;
    z-index: 1000;
}
.header{
    font-size: 30px;
    color: white;
    position: absolute;
    top:-200px;
    width: 300px;
}
.shop{
    width: 150px;
    height: 70px;
    border-radius: 10px;
    position: absolute;
    top: -30px;
    left: 70px;
    border: none;
    font-size: 30px;
    color: red;
}
.shop:hover{
    background-color:red;
    color: white;
    transition: 0.5s;
}